In [1]:
40 + 2

42

In [2]:
def hello():
    print("Hello World")

In [3]:
hello()

Hello World

In [4]:
a = 3

In [5]:
a

3

In [6]:
type(a)

int

In [7]:
type(3)

int

In [8]:
a = a * 0.1

In [9]:
a

0.30000000000000004

In [10]:
type(a)

float

In [11]:
type(0.3)

float

In [12]:
a = "Foo"

In [13]:
a

'Foo'

In [14]:
type(a)

str

In [15]:
def collatz(n):
    if n % 2 == 0:
        return n // 2
    else:
        return 3 * n + 1

In [16]:
collatz(10)

5

In [17]:
collatz(7)

22

In [18]:
def collatz_seq(s):
    while True:
        print(s, end=" ")
        if s == 1:
            return
        s = collatz(s)

In [21]:
collatz_seq(4)

4 2 1

In [22]:
collatz_seq(39)

39 118 59 178 89 268 134 67 202 101 304 152 76 38 19 58 29 88 44 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1

In [24]:
collatz_seq(22340)

22340 11170 5585 16756 8378 4189 12568 6284 3142 1571 4714 2357 7072 3536 1768 884 442 221 664 332 166 83 250 125 376 188 94 47 142 71 214 107 322 161 484 242 121 364 182 91 274 137 412 206 103 310 155 466 233 700 350 175 526 263 790 395 1186 593 1780 890 445 1336 668 334 167 502 251 754 377 1132 566 283 850 425 1276 638 319 958 479 1438 719 2158 1079 3238 1619 4858 2429 7288 3644 1822 911 2734 1367 4102 2051 6154 3077 9232 4616 2308 1154 577 1732 866 433 1300 650 325 976 488 244 122 61 184 92 46 23 70 35 106 53 160 80 40 20 10 5 16 8 4 2 1

In [25]:
r = [1,2,3,4]

In [26]:
r

[1, 2, 3, 4]

In [27]:
type(r)

list

In [28]:
r = (1,2,3,4)
r

(1, 2, 3, 4)

In [29]:
type(r)

tuple

In [30]:
r = [1,2,3]
[0] + r

[0, 1, 2, 3]

In [31]:
(1,4) + (9,16)

(1, 4, 9, 16)

In [32]:
[42]

[42]

In [33]:
(42)

42

In [34]:
(42,)

(42,)

In [35]:
L = [0,1,4,9,16]
T = (0,1,4,9,16)

In [36]:
L[2]

4

In [37]:
T[3]

9

In [38]:
L[2] = 42
L

[0, 1, 42, 9, 16]

In [39]:
T[2] = 42

TypeError: 'tuple' object does not support item assignment

In [40]:
(4, "foo", 5.6)

(4, 'foo', 5.6)

In [41]:
def collatz_seq(s):
    return [s] if s == 1 else [s] + collatz_seq(collatz(s))

In [42]:
collatz_seq(10)

[10, 5, 16, 8, 4, 2, 1]

In [43]:
for i in [1,2,3]:
    print(i, end=" ")

1 2 3

In [44]:
r = [1, 3, 4, 7, 42]
for i in r:
    print(i, end=" ")

1 3 4 7 42

In [45]:
range(2, 10)

range(2, 10)

In [46]:
for i in range(2, 10):
    print(i, end=" ")

2 3 4 5 6 7 8 9

In [47]:
for i in range(2, 20, 3):
    print(i, end=" ")

2 5 8 11 14 17

In [48]:
for i in range(7):
    print(i, end=" ")

0 1 2 3 4 5 6

In [49]:
list(range(7, 15))

[7, 8, 9, 10, 11, 12, 13, 14]

In [50]:
L = []
for c in "Frunobulax":
    L = L + [c]
L

['F', 'r', 'u', 'n', 'o', 'b', 'u', 'l', 'a', 'x']

In [51]:
list("Frunobulax")

['F', 'r', 'u', 'n', 'o', 'b', 'u', 'l', 'a', 'x']

In [52]:
def add_one(x):
    return x + 1
add_one(41)

42

In [53]:
type(add_one)

function

In [54]:
addiere_eins = add_one

In [55]:
addiere_eins(39)

40

In [56]:
def add_one(x):
    return x - 1
add_one(78)

77

In [57]:
addiere_eins(39)

40

In [58]:
L = [0, 4.5, "foo", add_one, 42]

In [59]:
L

[0, 4.5, 'foo', <function __main__.add_one>, 42]

In [60]:
L[3]

In [61]:
L[3](88)

87

In [62]:
map(add_one, [1, 4, 6, 8])

In [63]:
list(map(add_one, [1, 4, 6, 8]))

[0, 3, 5, 7]

In [64]:
list(map(L[3], [1, 4, 6, 8]))

[0, 3, 5, 7]

In [65]:
list(map(addiere_eins, [1, 4, 6, 8]))

[2, 5, 7, 9]

In [66]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
L = []
for i in range(1, 31):
    if i % 3 == 0:
        L += [i]
L

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [71]:
def div3(x):
    return x % 3 == 0

In [72]:
div3(42)

True

In [73]:
div3(17)

False

In [74]:
filter(div3, range(1,31))

In [76]:
list(filter(div3, range(1,31)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [77]:
list(filter(lambda x : x % 3 == 0, range(1,31)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [79]:
[i for i in range(1, 31) if i % 3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [80]:
L = []
for i in range(1, 31):
    if i % 3 == 0:
        L += [i*i]
L

[9, 36, 81, 144, 225, 324, 441, 576, 729, 900]

In [81]:
list(map(lambda k : k*k, filter(lambda x: x % 3 == 0, range(1, 31))))

[9, 36, 81, 144, 225, 324, 441, 576, 729, 900]

In [82]:
[x*x for x in range(1,31) if x % 3 == 0]

[9, 36, 81, 144, 225, 324, 441, 576, 729, 900]